
server {
  listen ${NGINX_PORT};
  server_name ${NGINX_HOST};

  # serve static files
  location /  {
    rewrite ^(.*)$ / break;
    proxy_pass http://host.docker.internal:8080/;
  }

  location /api {
    proxy_pass http://host.docker.internal:8080/api;
  }
}